body {
    background: #25252c url("images/background.gif") no-repeat;
    background-position: 0rem;
}

h1 {
    font-size: xx-large !important;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
}

h2, h3 {
    font-size: x-large !important;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
}

h3 {
    font-style: italic;
}

input, label, li, li a,a, h1, h2, h3 {
    color: #ff5504;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
}

input {
    margin-top: 1rem;
    margin-left: 1rem;
}

input[type="submit"] {
    background-color: #53252c;
    border-color: #25252c;
    border-radius: 9px;
    box-shadow: 3px 3px 5px rgb(16, 16, 16);
}

.nav {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}